header{
    color: white;
    background-color: rgb(76, 76, 230);
}
header h1{
    padding: 10px 0;
}
body{
    background-color: #F3EFEA;
    font-family: 'Open Sans', sans-serif;
    color: #323232;
    font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    padding: 0 25px;
}