.state h1{
    border-radius: 10px;
    margin-bottom: 15px;
    
}
.state-backlog h1{
    background-color: rgb(177, 177, 177);
    padding: 10px;
    color: rgb(81, 81, 81);
}
.state-process h1{
    background-color: rgb(88, 199, 224);
    padding: 10px;
    color: rgb(81, 81, 81);
}
.state-done h1{
    background-color: rgb(103, 245, 143);
    padding: 10px;
    color: rgb(81, 81, 81);
}
.state-basket h1{
    background-color: rgb(231, 123, 123);
    padding: 10px;
    color: rgb(81, 81, 81);
}
.state p{
    padding: 5px 0 5px 0;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}
